#main_container {
    width: 80%;
    text-align: center;
    padding: 50px;
    background-color: lightgray;
}

header, footer {
    background-color: navy;
    text-align: center;
    display: flex;
    align-items: center;
    color: white;
    margin: 1% 0;
}

header > p, footer> p {
    flex: 1;
    font-size: large; 
} 

#middle-section {
    background-color: gray;
    display: flex;
    padding: 5% 2% 1% 2%;
    flex-direction: column;
    max-width: 100%;
}

#top-section {
    background-color: lightgray;
    max-width: 100%;
    padding: 2%;
}

form {
    display: flex;
    max-width: 100%;
    padding: 3%;
}

fieldset {
    flex: 1;
    margin: 0;
    padding: 0;
}

input {
    margin: 0;
    padding: 0;
    width: 60%;
    text-align: center;
}

#main-section {
    background-color: #38ACEC;
    flex-direction: column;
    align-items: stretch;
    display: flex;
    justify-content: center;
    padding: 10px;
}

#table-render-space {
    background-color: peachpuff;
    padding: 10px;
    display: flex;
    flex: 1;
    justify-content: center;
}

#table-html-space {
    background-color: red;
    padding: 10px;
    display: flex;
    flex: 1;
    justify-content: center;
}

textarea {
    flex: 1;
}